WebContent/ws_proje_1_wsdl.wsdl

<wsdl:definitions xmlns:tns="deneme" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="FutbolServisi" targetNamespace="deneme">
	<wsdl:types>
		<!-- XML semamizi import etiketiyle WSDL dokumanina ekliyoruz. Semada kullandigimiz namespace'i import etiketinin namespace kismina yaziyoruz. -->
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="deneme" schemaLocation="ws_proje_1_schema.xsd"/>
		</xsd:schema>
		<!-- Metodumuzun geri dondurdugu karsilasma bilgisinin dizi olmasi gerektigi icin burada KarsilasmaBilgisi tipinde dizi tanimlamasi yaptik. -->
	</wsdl:types>
	<wsdl:message name="TakimNumarasiMesaji">
		<wsdl:part name="TakimNumarasi" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="KarsilasmaBilgisiMesaji">
		<wsdl:part name="KarsilasmaBilgisi" type="tns:KarsilasmaDizisi"/>
	</wsdl:message>
	<wsdl:message name="TakimMesaji">
		<wsdl:part name="TakimNo" type="xsd:int"/>
		<wsdl:part name="TakimAdi" type="xsd:string"/>
		<wsdl:part name="Futbolcular" type="tns:FutbolcuDizisi"/>
	</wsdl:message>
	<wsdl:message name="TakimKayitBilgisiMesaji">
		<wsdl:part name="TakimKayitBilgisi" type="xsd:boolean"/>
	</wsdl:message>
	<wsdl:message name="KarsilasmaKayitMesaji">
		<wsdl:part name="HaftaNo" type="xsd:int"/>
		<wsdl:part name="EvSahibiTakimNo" type="xsd:int"/>
		<wsdl:part name="MisafirTakimNo" type="xsd:int"/>
		<wsdl:part name="EvSahibiGolSayisi" type="xsd:int"/>
		<wsdl:part name="MisafirGolSayisi" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="KarsilasmaKayitBilgisiMesaji">
		<wsdl:part name="KarsilasmaKayitBilgisi" type="xsd:boolean"/>
	</wsdl:message>
	<wsdl:message name="GolSayisiKayitMesaji">
		<wsdl:part name="HaftaNo" type="xsd:int"/>
		<wsdl:part name="TakimNo" type="xsd:int"/>
		<wsdl:part name="FormaNo" type="xsd:int"/>
		<wsdl:part name="GolSayisi" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="GolSayisiKayitBilgisiMesaji">
		<wsdl:part name="KarsilasmaKayitBilgisi" type="xsd:boolean"/>
	</wsdl:message>
	<wsdl:message name="TakimBilgisiMesaji">
		<wsdl:part name="TakimBilgisi" type="tns:TakimTipi"/>
	</wsdl:message>
	<wsdl:portType name="FutbolServisi">
		<wsdl:operation name="KarsilasmaBilgisiGetir">
			<!-- Metodun adi -->
			<wsdl:input message="tns:TakimNumarasiMesaji"/>
			<!-- Metodun aldigi parametre -->
			<wsdl:output message="tns:KarsilasmaBilgisiMesaji"/>
			<!-- Metodun geri dondurdugu mesaj -->
		</wsdl:operation>
		<wsdl:operation name="TakimKaydet">
			<!-- Metodun adi -->
			<wsdl:input message="tns:TakimMesaji"/>
			<!-- Metodun aldigi parametre -->
			<wsdl:output message="tns:TakimKayitBilgisiMesaji"/>
			<!-- Metodun geri dondurdugu mesaj -->
		</wsdl:operation>
		<wsdl:operation name="KarsilasmaKaydet">
			<!-- Metodun adi -->
			<wsdl:input message="tns:KarsilasmaKayitMesaji"/>
			<!-- Metodun aldigi parametre -->
			<wsdl:output message="tns:KarsilasmaKayitBilgisiMesaji"/>
			<!-- Metodun geri dondurdugu mesaj -->
		</wsdl:operation>
		<wsdl:operation name="GolSayisiKaydet">
			<!-- Metodun adi -->
			<wsdl:input message="tns:GolSayisiKayitMesaji"/>
			<!-- Metodun aldigi parametre -->
			<wsdl:output message="tns:GolSayisiKayitBilgisiMesaji"/>
			<!-- Metodun geri dondurdugu mesaj -->
		</wsdl:operation>
		<wsdl:operation name="TakimBilgisiGetir">
			<!-- Metodun adi -->
			<wsdl:input message="tns:TakimNumarasiMesaji"/>
			<!-- Metodun aldigi parametre -->
			<wsdl:output message="tns:TakimBilgisiMesaji"/>
			<!-- Metodun geri dondurdugu mesaj -->
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FutbolServisiSOAP" type="tns:FutbolServisi">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="KarsilasmaBilgisiGetir">
			<soap:operation soapAction="http://tempuri.org/FutbolServisi/KarsilasmaBilgisiGetir"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TakimKaydet">
			<soap:operation soapAction="http://tempuri.org/FutbolServisi/TakimKaydet"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="KarsilasmaKaydet">
			<soap:operation soapAction="http://tempuri.org/FutbolServisi/KarsilasmaKaydet"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GolSayisiKaydet">
			<soap:operation soapAction="http://tempuri.org/FutbolServisi/GolSayisiKaydet"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TakimBilgisiGetir">
			<soap:operation soapAction="http://tempuri.org/FutbolServisi/TakimBilgisiGetir"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FutbolServisi">
		<wsdl:port name="FutbolServisiSOAP" binding="tns:FutbolServisiSOAP">
			<soap:address location="http://tempuri.org"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
